#app3 {}

#app3 .square {
    background-color: lightpink;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 10vw;
    height: 10vw;
    z-index: 10;
    transition: transform 1s;
}

#app3 .square.active {
    transform: translateX(15vw);
}